body {
  background-color: #fdedd9;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #4d4131;
}

hr {
  color: grey;
}

a {
  color: #009fb7;
}

.navbar {
  padding: 0;
  background-color: #fdedd9;
  /* background-color: #fffaf3; */
}

.navbar-nav {
  margin-right: 80px;
  margin-top: 40px;
}

.nav-item {
  margin-left: 50px;
}

.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  padding: 0 3% 0 10%;
  justify-content: space-between;
}

.home-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-title {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.16rem;
  line-height: 2;
}

.home-subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.home-img-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.home-img {
  width: 100%;
}

.container-fluid {
  height: 100vh;
  padding: 0;
}

#projects .container-fluid {
  background-color: #fffaf3;
  padding: 150px 24% 100px;
  height: auto;
}

.projects-title {
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-align: center;
}

.projects-card {
  margin: 7% 0;
  /* padding: 50px; */
  /* background-color: #fdedd9; */
  /* background-color: #fcf5df; */
  /* background-color: #f6f8d7; */
  background-color: white;
  /* background-color: #f4f0f7; */
  /* margin-right: 10%; */
}

.project-card-text {
  /* padding-right: 7%; */
  padding: 50px 70px;
}
.projects-card-img-box {
  padding: 0;
}

.project-card-img {
  width: 100%;
}
.learny {
  width: 60%;
}

.project-tag {
  background-color: #ecd9fd;
  /* background-color: #fffdfa; */
  border-radius: 15px;
  padding: 7px 20px;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.8rem;
  letter-spacing: 0.09rem;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 15px;
}

.card-subtitle {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  margin-bottom: 50px;
}

.tags-container {
  padding: 25px 0 40px;
}

.img-box {
  background-color: #f6f8d7;
  padding: 30px 30px 0;
}

#aboutMe .container-fluid {
  padding: 150px 2% 0 5%;
  height: auto;
}

.aboutMe-title {
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-bottom: 5%;
}

.aboutMe-subtitle {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 2;
  margin-bottom: 5%;
}

.aboutMe-title-2 {
  font-size: 2.18rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-bottom: 5%;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 15% 25%;
}

.aboutMe-text-container {
  display: flex;
  flex-direction: column;
}

.profile-img-container {
  margin-right: 50px;
}

.profile-img {
  width: 100%;
}

.more-info-box {
  margin: 70px 15% 100px 0;
}

.aboutMe-text {
  margin-bottom: 3%;
}

.skill-tags-container {
  padding-left: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.skill-tag {
  background-color: #ecd9fd;
  /* background-color: #fffdfa; */
  border-radius: 15px;
  padding: 7px 20px;
  display: inline-block;
  margin-right: 10px;
}

.about-me-text-box {
  padding-right: 10%;
}

.resume-btn {
  border-style: solid;
  border-width: 3px;
  border-color: #8d7659;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  color: #4d4131;
  margin-top: 20px;
  margin-right: 30px;
  text-decoration: none;
}

.resume-btn:hover {
  background-color: #4d4131;
  color: white;
  font-weight: 500;
  border-color: #4d4131;
  text-decoration: none;
}

.social-media-icon {
  color: #8d7659;
  margin: 0 15px;
  font-size: 1.5rem;
  /* vertical-align: text-bottom; */
}

.social-media-icon:hover {
  color: #4d4131;
}

.footer-container {
  background-color: #8d7659;
  height: 90px;
}

.footer-chamomiles-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-img {
  width: 100%;
}

.footer-text {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin: 0;
  padding-left: 10%;
}

@media only screen and (max-width: 1500px) {
  #projects .container-fluid {
    padding: 150px 15% 100px;
  }

  #aboutMe .container-fluid {
    padding: 150px 2% 0 5%;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 15% 10%;
  }
}

@media only screen and (max-width: 991px) {
  #projects .container-fluid {
    background-color: #fffaf3;
    padding: 80px 10% 50px;
    height: auto;
  }

  .card-title {
    font-size: 1.8rem;
    letter-spacing: 0.09rem;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 15px;
  }

  .card-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
  }

  .project-card-text {
    padding: 30px 30px;
  }

  .project-card-img {
    width: 60%;
  }

  .learny {
    width: 40%;
  }

  #aboutMe .container-fluid {
    padding: 100px 2% 0 5%;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 0% 10%;
  }
  .profile-img-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile-img {
    width: 90%;
  }
  .footer-img {
    width: 20%;
  }
  .aboutMe-text-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 575px) {
  #home .container-fluid {
    height: 90vh;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    padding: 40% 3% 0 10%;
    justify-content: space-between;
  }

  .home-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-title {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.16rem;
    line-height: 1;
  }

  .home-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  .home-img-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .home-img {
    width: 50%;
  }

  #projects .container-fluid {
    background-color: #fffaf3;
    padding: 80px 5% 50px;
    height: auto;
  }

  #aboutMe .container-fluid {
    padding: 80px 2% 0 5%;
    height: auto;
  }

  .footer-img {
    width: 30%;
  }

  .card-title {
    font-size: 1.8rem;
    letter-spacing: 0.09rem;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 15px;
  }

  .card-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
  }

  .project-card-text {
    padding: 30px 30px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0% 0%;
  }
  .profile-img-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile-img {
    width: 100%;
  }
  .aboutMe-text-container {
    display: flex;
    flex-direction: column;
  }
}
