.circle {
  background-color: #bf4e26;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
}
.pain-points-title {
  color: #bf4e26;
  font-size: 1.06rem;
  font-family: "Roboto Slab", serif;
  font-size: 700;
  text-align: center;
  margin: 10px 0;
}

.pain-points-text {
  text-align: center;
  padding: 0 5%;
}

body {
  background-color: #fffdfa;
}

#title {
  padding: 200px 23% 100px;
}

.mini-box {
  background-color: #f4f0f7;
  padding: 1% 5%;
}

.mockups {
  background-color: #aaccbe;
  padding: 3% 23%;
}
.km-images {
  width: 100%;
}

.social-media-icon {
  color: #4f4f4f;
  margin-right: 30px;
  font-size: 1.5rem;
  /* vertical-align: text-bottom; */
}

/* Title section */

.big-heading {
  text-align: center;
  font-family: "Quando", serif;
  font-size: 3.2rem;
}

.subheading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  margin: 40px 0 75px 0;
}

p,
ul,
ol {
  font-family: "Montserrat", sans-serif;
  font-size: 1.06rem;
  margin-bottom: 5%;
}

.heading-img {
  width: 100%;
}

hr {
  /* margin-bottom: 150px; */
}

.paragraph-heading {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  font-weight: 500;
}

#overview {
  padding: 100px 23% 100px;
}

#research .container-fluid {
  padding: 100px 23% 50px;
}

.mini-container {
  margin: 60px 0;
}

.problem-statement {
  background-color: #bf4e26;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 50px 23%;
}

.problem-statement h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.problem-statement p {
  font-size: 1.06rem;
  font-weight: 400;
  margin: 0;
}

#design .container-fluid {
  padding: 100px 23% 50px;
}

.img-text {
  text-align: center;
}

.wireframe-img {
  padding: 0 30px;
  width: 100%;
}

.img-container {
  padding: 0 10%;
}

.lo-fi-img {
  width: 60%;
}

#design h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.mini-box-first {
  background-color: #f4f0f7;
  padding: 2% 7%;
}

.first-circle {
  background-color: #d7aaff;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
}

.mini-box-second {
  background-color: #e9f7f1;
  padding: 2% 7%;
}

.second-circle {
  background-color: #96ceb4;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
}

#refining-design .container-fluid {
  padding: 100px 23% 50px;
}

.us-img {
  width: 240px;
}

.after-img {
  width: 100%;
}

.km-title {
  padding: 60px 23% 20px;
}

#takeaways .container-fluid {
  padding: 100px 23% 50px;
}
.accessibility-container {
  padding: 50px 15% 50px;
}
.accessibility-circle {
  background-color: #328965;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
}

.accessibility-title {
  color: #328965;
  font-size: 1.06rem;
  font-family: "Roboto Slab", serif;
  font-size: 700;
  text-align: center;
  margin: 10px 0;
}

.ns-circle {
  background-color: #828282;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
}

#connect .container-fluid {
  padding: 100px 23% 50px;
}

.footer-text {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin: 0;
  /* padding-left: 50%; */
}

.footer-container {
  background-color: #4f4f4f;
  height: 90px;
}

.problem-text {
  color: #bf4e26;
  font-weight: 700;
}

.solution-text {
  color: #328965;
  font-weight: 700;
}

@media only screen and (max-width: 1500px) {
  #title {
    padding: 200px 13% 100px;
  }

  #overview {
    padding: 100px 13% 100px;
  }

  #research .container-fluid {
    padding: 100px 13% 50px;
  }

  #takeaways .container-fluid {
    padding: 100px 13% 50px;
  }

  #connect .container-fluid {
    padding: 100px 13% 50px;
  }

  #refining-design .container-fluid {
    padding: 100px 13% 50px;
  }

  #design .container-fluid {
    padding: 100px 13% 50px;
  }
}
