/* Basic tags section*/

body {
  background-color: #fffdfa;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

p,
ul,
ol {
  font-family: "Montserrat", sans-serif;
  font-size: 1.06rem;
}

a {
  color: #009fb7;
}

.padding-right {
  padding-right: 25px;
}

/* Sections section*/

#title {
  padding: 200px 0 100px;
}

#overview {
  padding: 100px 0 100px;
}

#research {
  padding: 100px 0 50px;
}

#design {
  padding: 100px 0 50px;
}

#refining-design {
  padding: 100px 0 50px;
}

#connect {
  padding-top: 100px;
}

#takeaways {
  padding: 100px 0 50px;
}

/* Containers section*/

.containerWithPadding {
  padding: 0 23%;
  width: 100%;
}

.containerWithSmallPadding {
  padding: 0px 10% 50px;
}
.containerWithXSPadding {
  padding: 0px 3% 50px;
}

.containerWithoutPadding {
  padding: 0;
  width: 100%;
}

.subcontainer-big {
  margin-bottom: 100px;
}

.subcontainer-medium {
  margin-bottom: 50px;
}
.subcontainer-small {
  margin-bottom: 30px;
}
.subcontainer-xs {
  margin-bottom: 10px;
}

.mini-box {
  padding: 2% 7%;
}

.arrowContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Headings section */

.big-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
}

.big-subheading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  margin: 40px 0 75px 0;
}

.paragraph-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  margin: 0 10px 20px 0;
}

.paragraph-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.medium-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

/* Images */

.heading-img {
  width: 100%;
  object-fit: contain;
}

.wireframe-img {
  padding: 0 30px;
  width: 100%;
  object-fit: contain;
}

.km-images {
  width: 100%;
}

.persona-img {
  width: 100%;
  border-width: thin;
  border: 1px solid;
  border-color: #cfdbed;
  border-radius: 20px;
  object-fit: contain;
}

.persona-img-small {
  padding: 0 30px;
  width: 70%;
  border-width: thin;
  border: 1px solid;
  border-color: #cfdbed;
  border-radius: 20px;
  object-fit: contain;
}

.prototype-img {
  width: 90%;
  border-width: thin;
  border: 1px solid;
  border-color: #cfdbed;
  object-fit: contain;
}

.us-img {
  width: 100%;
  object-fit: contain;
}

.arrow-img {
  width: 80%;
  object-fit: contain;
}

.km-images-variation {
  width: 100%;
}

/* Points Section */

.points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points-circle {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.points-title {
  font-size: 1.06rem;
  font-family: "Roboto Slab", serif;
  font-size: 700;
  text-align: center;
  margin-bottom: 15px;
}

.points-text {
  text-align: center;
  padding: 0 25px;
}

/* Colors Section */

.bg-red {
  background-color: #ff4d52;
}

.txt-red {
  color: #ff4d52;
}

.bg-dark-green {
  background-color: #328965;
}

.txt-dark-green {
  color: #328965;
}

.bg-gray {
  background-color: #828282;
}

.txt-gray {
  color: #828282;
}

.problem-text {
  color: #ea454a;
  font-weight: 700;
}

.solution-text {
  color: #328965;
  font-weight: 700;
}

.bg-light-purple {
  background-color: #f4f0f7;
}

.bg-light-green {
  background-color: #e9f7f1;
}

.bg-purple {
  background-color: #d7aaff;
}

.bg-green {
  background-color: #96ceb4;
}

/* Banner Section */

.problem-statement {
  background-color: #ff4d52;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 50px 23%;
}

.problem-statement h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.problem-statement p {
  font-size: 1.06rem;
  font-weight: 400;
  margin: 0;
}

.center-text {
  text-align: center;
}

.mockups-variation {
  background-color: #fbf6f6;
  padding: 3% 15%;
  height: auto;
}

/* Footer */

.footer-text {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.footer-container {
  background-color: #4f4f4f;
  height: 90px;
  width: 100%;
}

.social-media-icon {
  color: #4f4f4f;
  margin-right: 30px;
  font-size: 1.5rem;
}

.social-media-icon:hover {
  color: #009fb7;
}

/* Medium screens */

@media only screen and (max-width: 1500px) {
  .containerWithPadding {
    padding: 0 13%;
    width: 100%;
  }

  .containerWithSmallPadding {
    padding: 0px 5% 50px;
  }
  .containerWithXSPadding {
    padding: 0px 1% 50px;
  }

  .containerWithoutPadding {
    padding: 0;
    width: 100%;
  }

  .problem-statement {
    padding: 50px 13%;
  }
}

/* Small screens */

@media only screen and (max-width: 991px) {
  #title {
    padding: 150px 0 80px;
  }

  #overview {
    padding: 50px 0 30px;
  }

  #research {
    padding: 50px 0 30px;
  }

  #design {
    padding: 50px 0 30px;
  }

  #refining-design {
    padding: 50px 0 30px;
  }

  #connect {
    padding-top: 50px;
  }

  #takeaways {
    padding: 50px 0 30px;
  }

  .containerWithPadding {
    padding: 0 5%;
    width: 100%;
  }

  .containerWithSmallPadding {
    padding: 0px 3% 50px;
  }
  .containerWithXSPadding {
    padding: 0px 1% 50px;
  }

  .containerWithoutPadding {
    padding: 0;
    width: 100%;
  }

  .subcontainer-big {
    margin-bottom: 80px;
  }

  .subcontainer-medium {
    margin-bottom: 40px;
  }
  .subcontainer-small {
    margin-bottom: 25px;
  }
  .subcontainer-xs {
    margin-bottom: 8px;
  }

  .points-text {
    padding: 0 10px;
  }

  .problem-statement {
    padding: 50px 5%;
  }

  .padding-right {
    padding-right: 12px;
  }

  .us-img {
    width: 60%;
  }
}

@media only screen and (max-width: 575px) {
  .us-img {
    width: 60%;
  }
  .km-images {
    width: 60%;
  }
}
